<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655509160020-58jbj2rvfnkbcg6n4qkqkku78peivo4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655509160020-58jbj2rvfnkbcg6n4qkqkku78peivo4t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>655509160020-7cr3k1cjtl75mnmcc13mtgb5arhqls8s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMDtPnuc6yGiNOAtLVQFXZ5I2JTGdlYO8</string>
	<key>GCM_SENDER_ID</key>
	<string>655509160020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.ema</string>
	<key>PROJECT_ID</key>
	<string>ema-ramen</string>
	<key>STORAGE_BUCKET</key>
	<string>ema-ramen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655509160020:ios:1789ea9cbcbbd729962dc1</string>
	<key>DATABASE_URL</key>
	<string>https://ema-ramen-default-rtdb.firebaseio.com</string>
</dict>
</plist>