@keyframes fade_in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade_in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade_in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade_in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.animate_fade_in {
    -webkit-animation: fade_in 1s forwards;
    -moz-animation: fade_in 1s forwards;
    -o-animation: fade_in 1s forwards;
    animation: fade_in 1s forwards;
}


@keyframes fade_out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fade_out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fade_out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade_out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.animate_fade_out {
    -webkit-animation: fade_out 1s forwards;
    -moz-animation: fade_out 1s forwards;
    -o-animation: fade_out 1s forwards;
    animation: fade_out 1s forwards;
}


.error_class_input {
    border: solid 2px #FF0000;
}

.error_class_label {
    color: #FF0000;
}

.removeButton {
    border-radius: 8px;
    border: none;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    padding-top: 40px;
}

.modal-content img {
    padding-bottom: 25px;
}

.modal-content button {
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 5px;
}

.modalButtons {
    display: flex;
    text-align: center;
}


#table_body_Dashboard{
    overflow-y: scroll;
    height: 235px;
}
