{% extends "layouts/base.html" %}

{% block title %} Edit Project {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% load static %}
    <script src="{% static "assets/js/edit-project.js" %}" type="text/javascript"></script>
    <!-- Using functions and style from this file -->
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h1 class="m-b-10">Edit Project</h1>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url "dashboard" %}"><i
                                        class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Edit Project</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Please select a project below to edit:</h5>
                                </div>
                                <div class="card-body">
                                    <h3>Project Information</h3>
                                    <hr>
                                    {% if message_success %}
                                        <div class="alert alert-success animate_fade_in" role="alert" id="message">
                                            {{ message_success }}
                                            <button type="button" class="close close_button" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                    {% if message_error %}
                                        <div class="alert alert-danger animate_fade_in" role="alert" id="message">
                                            {{ message_error }}
                                            <button type="button" class="close close_button" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endif %}

                                    <div class="row">
                                        <div class="col-md-6">
                                            <form action="" method="post" name="editProjectInformation"
                                                  id="editProjectInformationId">
                                                {% csrf_token %}
                                                <!-- [ Select project ] start -->
                                                <div class="form-group">
                                                    <label for="selectProjectToDelete">Select Project</label>
                                                    <select class="form-control" id="selectProjectEditId"
                                                            name="selectedProject">

                                                        <option selected=selected>Select</option>
                                                        <!-- [ code to display projects ] -->
                                                        {% for project_name in list_of_projects_dict %}
                                                            <option value="{{ project_name }}">{{ project_name }} </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!-- [ Select project ] end -->
                                                <!-- [ Enter link ] start -->
                                                <div class="form-group">
                                                    <label for="surveyLinkLabel">Survey Link</label>
                                                    <input type="link" class="form-control" id="surveyLinkInput"
                                                           placeholder="Link" value="" name="surveyLink" required>
                                                </div>
                                                <!-- [ Enter link ] end -->
                                                <!-- [ Enter participants ] start -->
                                                <div class="form-group">
                                                    <label for="selectParticipant"
                                                           id="addParticipantLabelId-editProject">Select
                                                        Participant(s)</label>
                                                    <select class="form-control" id="addParticipantInput-editProject"
                                                            name="selectedParticipant">
                                                        <option selected=selected>Select</option>
                                                        <!-- [ code to display projects ] -->
                                                        {% for part in all_users_drop_down %}
                                                            <option value="{{ part }}">{{ part }} </option>
                                                        {% endfor %}
                                                    </select>
                                                    <br id="space-after-add-participant-input">
                                                    <button type="button" class="btn btn-primary"
                                                            id="addParticipant-editProject">Add Participant
                                                    </button>
                                                </div>
                                                <!-- [ Enter participants ] end -->
                                                <!-- [ Notes ] start -->
                                                <div class="form-group">
                                                    <label for="NotesLabel">Notes</label>
                                                    <textarea class="form-control" id="notesInput" rows="3" value=""
                                                              placeholder="Optional"
                                                              name="description"></textarea>
                                                </div>
                                                <!-- [ Notes ] end -->
                                                <button type="submit" class="btn btn-success" name="editProjectBtn"
                                                        id="editProjectBtnId">Update
                                                    Project
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <form action="" method="post">
                                                <!-- [ List of participants to be added ] start -->
                                                <label for="participantsLabel-editProject"
                                                       id="participantsLabelId-editProject">Participants:</label>
                                                <div class="card-block px-0 py-3">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover" name="participantsTable"
                                                               id="participantsTableId">
                                                            <tbody>
                                                            <!-- edit-project.js is populating the participants -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- [ List of participants to be added ] end -->
                                            </form>
                                        </div>
                                    </div>
                                    <!-- [ Delete Project section ] start -->
                                    <br>
                                    <h3>Delete Project</h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="selectProjectToDelete">Select Project</label>
                                                <select class="form-control" id="selectProjectDeleteId"
                                                        name="selectedDeleteProject">

                                                    <option selected=selected>Select</option>
                                                    <!-- [ code to display projects ] -->
                                                    {% for project_name in list_of_projects_dict %}
                                                        <option value="{{ project_name }}">{{ project_name }} </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-danger " id="delete-project-id">
                                                Delete
                                                Project
                                            </button>
                                        </div>
                                        <!-- [ Delete Project section ] end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

    <div id="super-modal">
        <!-- Modal will appear once delete project button has been clicked-->
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}