{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">
{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
    <div class="pcoded-inner-content">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h1 class="m-b-10">Welcome {{ user.get_username }}!</h1>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href={% url "dashboard" %}><i
                                            class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Dashboard</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ Recent Users ] start-->
                        <div class="col-xl-8 col-md-6">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Select Project</h5>
                                    <div class="form-group">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <select class="form-control" id="selectProjectDashbaordId"
                                                    name="selectedProjectDashboard">
                                                <option selected=selected>Select</option>
                                                {% for project_name in list_of_projects_dict %}
                                                    <option value="{{ project_name }}">{{ project_name }} </option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody id="table_body_Dashboard">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Recent Users ] end-->

                        <!-- [ statistics year chart ] start -->
                        <div class="col-xl-4 col-md-6">
                            <div class="card card-event">
                                <div class="card-block">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col">
                                            <h5 class="m-0">Participants</h5>
                                        </div>
                                        <div class="col-auto">
                                            <label class="label theme-bg2 text-white f-14 f-w-400 float-right"
                                                   id="projectCountPercentageId">--</label>
                                        </div>
                                    </div>
                                    <h2 class="mt-3 f-w-300" id="projectCountDataId">--</h2>
                                    <i class="fab fa-angellist text-c-purple f-50"></i>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block border-bottom">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-zap f-30 text-c-green"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{ list_of_projects_count }}</h3>
                                            <span class="d-block text-uppercase">TOTAL PROJECTS</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">{{ list_of_users_count }}</h3>
                                            <span class="d-block text-uppercase">TOTAL PARTICIPANTS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="false">Today</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile"
                                       role="tab" aria-controls="profile" aria-selected="true">This Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                       aria-controls="contact" aria-selected="false">All</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <td><b>Project Name</b></td>
                                            <td><b>Start Date</b></td>
                                            <td><b>Expiration Date</b></td>
                                            <td><b>Reminder Time</b></td>
                                            <td><b>Expiration Time</b></td>
                                            <td><b>Repetition</b></td>
                                            <td><b>Status</b></td>
                                        </tr>
                                        {% for dict in notification_data_list %}
                                            {% if curr_date == dict.startDate %}
                                                <td> {{ dict.projectName }} </td>
                                                <td> {{ dict.startDate }} </td>
                                                <td> {{ dict.expirationDate }} </td>
                                                <td> {{ dict.reminderTime }} </td>
                                                <td> {{ dict.expirationTime }} </td>
                                                <td> {{ dict.repeating }} </td>
                                                {% if curr_time < dict.expirationTime %}
                                                    <td><i class="fas fa-circle text-c-purple f-10"></i> Pending
                                                    </td>
                                                {% else %}
                                                    <td><i class="fas fa-circle text-c-green f-10"></i> Done
                                                    </td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade active show" id="profile" role="tabpanel"
                                     aria-labelledby="profile-tab">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <td><b>Project Name</b></td>
                                            <td><b>Start Date</b></td>
                                            <td><b>Expiration Date</b></td>
                                            <td><b>Reminder Time</b></td>
                                            <td><b>Expiration Time</b></td>
                                            <td><b>Repetition</b></td>
                                            <td><b>Status</b></td>
                                        </tr>
                                        {% for dict in notification_data_list %}
                                            <tr>
                                                {% if start_of_week <= dict.startDate and end_of_week >= dict.startDate %}
                                                    <td> {{ dict.projectName }} </td>
                                                    <td> {{ dict.startDate }} </td>
                                                    <td> {{ dict.expirationDate }} </td>
                                                    <td> {{ dict.reminderTime }} </td>
                                                    <td> {{ dict.expirationTime }} </td>
                                                    <td> {{ dict.repeating }} </td>
                                                    {% if curr_date < dict.startDate %}
                                                        <td><i class="fas fa-circle text-c-purple f-10"></i> Pending
                                                        </td>
                                                    {% elif curr_date > dict.startDate %}
                                                        <td><i class="fas fa-circle text-c-green f-10"></i> Done</td>
                                                    {% elif curr_date == dict.startDate %}
                                                        {% if curr_time < dict.expirationTime %}
                                                            <td><i class="fas fa-circle text-c-purple f-10"></i> Pending
                                                            </td>
                                                        {% else %}
                                                            <td><i class="fas fa-circle text-c-green f-10"></i> Done
                                                            </td>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <td><b>Project Name</b></td>
                                            <td><b>Start Date</b></td>
                                            <td><b>Expiration Date</b></td>
                                            <td><b>Reminder Time</b></td>
                                            <td><b>Expiration Time</b></td>
                                            <td><b>Repetition</b></td>
                                            <td><b>Status</b></td>
                                        </tr>
                                        {% for dict in notification_data_list %}
                                            <tr>
                                                <td> {{ dict.projectName }} </td>
                                                <td> {{ dict.startDate }} </td>
                                                <td> {{ dict.expirationDate }} </td>
                                                <td> {{ dict.reminderTime }} </td>
                                                <td> {{ dict.expirationTime }} </td>
                                                <td>
                                                    {{ dict.repeating }}
                                                </td>
                                                {% if curr_date < dict.startDate %}
                                                    <td><i class="fas fa-circle text-c-purple f-10"></i> Pending</td>
                                                {% elif curr_date > dict.startDate %}
                                                    <td><i class="fas fa-circle text-c-green f-10"></i> Done</td>
                                                {% elif curr_date == dict.startDate %}
                                                    {% if curr_time < dict.expirationTime %}
                                                        <td><i class="fas fa-circle text-c-purple f-10"></i> Pending
                                                        </td>
                                                    {% else %}
                                                        <td><i class="fas fa-circle text-c-green f-10"></i> Done</td>
                                                    {% endif %}
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{#    <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>#}
{#    <script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>#}
{#    <script src="/static/assets/js/pages/chart-morris-custom.js"></script>#}
    <script src="/static/assets/js/dashboard.js"></script>
{% endblock javascripts %}
