{% extends "layouts/base.html" %}

{% block title %} Notification Settings {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h1 class="m-b-10">Notification Settings</h1>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                {#                                <li class="breadcrumb-item"><a href="javascript:">Notification Settings</a></li>#}
                                <li class="breadcrumb-item"><a href="javascript:">Notification Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Please select a project below to configure notification settings</h5>
                                </div>
                                <div class="card-body">
                                    <h3>Project Notification Information</h3>
                                    <hr>
                                            <form action="" method="post">
                                                <div class="col-md-6">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="whenToNotifyLabel">Select a project</label>
                                                    <select class="form-control" id="whenToNotify" name="selectedProject">
                                                        <option>Project1</option>
                                                        <option>Project2</option>
                                                    </select>
                                                </div>
                                                <br>
                                                <h5>Set a date and time to start notifications</h5>
                                                <hr>
                                                <div class="form-group">
                                                    <label for="scheduleSendDate">Schedule Send Date</label>
                                                    <input type="date" class="form-control" id="scheduleSendDateInput"
                                                           aria-describedby="scheduleSendDate" placeholder="" name="startDate">
                                                </div>
                                                <div class="form-group">
                                                    <label for="scheduleSendTime">Schedule Send Time</label>
                                                    <input type="time" class="form-control"
                                                           id="scheduleSendDateTimeInput"
                                                           aria-describedby="scheduleSendTime" placeholder="" name="startTime">
                                                </div>
                                                <div class="form-group">
                                                    <label for="whenToNotifyLabel">How often should these participants
                                                        be notified?</label>
                                                    <select class="form-control" id="whenToNotify" name="selection">
                                                        <option>Once</option>
                                                        <option>Hourly</option>
                                                        <option>Daily</option>
                                                        <option>Weekly</option>
                                                        <option>Every Few Hours</option>
                                                    </select>
                                                </div>
                                                </div>
                                                <div class="col-md-6">
                                                <h5>Set a date and time to stop notifications</h5>
                                                <hr>
                                                <div class="form-group">
                                                    <label for="expirationDate">Expiration Date</label>
                                                    <input type="date" class="form-control" id="expirationDateInput"
                                                           aria-describedby="timeTheNotificationExpires" placeholder="" name="endDate">
                                                </div>
                                                <div class="form-group">
                                                    <label for="expirationTime">Expiration Time</label>
                                                    <input type="time" class="form-control" id="expirationTimeInput"
                                                           aria-describedby="scheduleexpirationTime" placeholder="" name="endTime">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Set Notification
                                                </button>
                                                </div>
                                            </form>


                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



{% endblock javascripts %}